# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=7ad37458c5abf71b712f377b847c6701
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

# Paypal Access Token with escaped dollar signs
PAYPAL_ACCESS_TOKEN=access_token\$sandbox\$bhqvq4ndcqcq2qtw\$a611fa64e1dd7ba6bf00b0482aa9407c
PAYMENT_AMOUNT=5
CLICKMEETING_API_KEY=eu8de8914fceb6938b32214dcc0f36bf1538355b14
CLICKMEETING_ROOM_NAME="Example Room"
