<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Load PayPal's checkout.js Library. -->
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>
    <!-- Load the client component. -->
    <script src="https://js.braintreegateway.com/web/3.32.1/js/client.min.js"></script>
    <!-- Load the PayPal Checkout component. -->
    <script src="https://js.braintreegateway.com/web/3.32.1/js/paypal-checkout.min.js"></script>
    <title>{% block title %}ClickMeeting Room behind PayPal gateway{% endblock %}</title>
</head>
<body>

<div id="content" class="p-2">
    {% block body %}{% endblock %}
</div>
</body>
<script src="{{ asset('build/js/app.js') }}"></script>
</html>