{% extends 'base.html.twig' %}

{% block body %}
    <h1>Confirm</h1>
    <p>Please confirm your details and pay with PayPal:</p>
    <ul>
        <li>Nickname: {{nickname}}</li>
        <li>E-mail: {{email}}</li>
        <li>Amount: {{amount}} GBP</li>
    </ul>

    <div id="paypal-button"></div>
{% endblock %}