{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome</h1>
    <p>Please enter your your nickname and e-mail address:</p>
    <form>
        <label for="nickname">Nickname</label>
        <input name="nickname" type="text" id="nickname">

        <label for="email">E-mail</label>
        <input name="email" type="email" id="email">
    </form>

    <div id="paypal-button"></div>
{% endblock %}