{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome</h1>
    <p>Please enter your your nickname and e-mail address:</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}