{% extends 'base.html.twig' %}

{% block body %}
    <h1>Success</h1>
    <p>Your payment was successful and conference room has been created.
        Please click on the button below to access your conference room.</p>
    <a class="btn btn-primary" href="{{ url }}" role="button" target="_blank">Go to conference room</a>

{% endblock %}